@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mainarea{
    margin-top:35px;
    height:535px;
    text-align:center;
    background-image:url(https://i.pinimg.com/736x/fb/e3/38/fbe3389b51b986a6ed2b5de11ef04efd.jpg);
    background-size:80%;
    background-repeat:no-repeat;
    background-position:center;
    background-color:#210e45;
    padding-top:270px;
    
}

.main-image{
    width:40px;
    height:40px;
}

.main-text{
    font-family: bangers;
    letter-spacing:0.1em;
    color : white;
    font-size:50px;
    margin-bottom:30px;
    
}

.sub-text{
    font-family: bangers;
    color : #f19da1;
    font-size: 32px;
    margin-bottom:15px;
    letter-spacing:0.05em;
}

.foot-text{
    font-family: bangers;
    color : #f19da1;
    margin-top:15px;
    letter-spacing:0.05em;
    font-size:20px;
}

.input-area{
    width:250px;
    height:30px;
    background-color:#ecd9d9;
    font-size:20px;
    border-radius:8px;
    border:none;
    padding-left:40px;
    font-family:DungGeunMo;

}


.button-area{
    margin-top:15px;
}

.button-go{
    width:80px;
    height:50px;
    border-radius:100%;
    background-color:#e7729e;
    font-family:DungGeunMo;
    border:none;
    font-size:1.2em;
}

.button-retry{
    width:80px;
    height:50px;
    margin-left:10px;
    border-radius:100%;
    background-color:#f8db73;
    font-family:DungGeunMo;
    border:none;
    font-size:1.2em;
}


@media (max-width:480px) {
    .mainarea{
        background-position:center;
        background-size:100%;
    }
    .main-text{
        letter-spacing:0.1em;
        color : white;
        font-size:32px;
        padding-top:60px;
        margin-bottom:5px;
        
    }
    .sub-text{
        font-family: bangers;
        color : #f19da1;
        font-size: 22px;
        margin-bottom:5px;
        padding-top:2px;
        letter-spacing:0.07em;
    }
    
    .foot-text{
        font-family: bangers;
        color : #f19da1;
        margin-top:12px;
        letter-spacing:0.05em;
        font-size:15px;
    }
    .button-area{
        margin-top:10px;
    }
    
    .button-go{
        width:60px;
        height:40px;
        border-radius:100%;
        background-color:#e7729e;
        font-family:DungGeunMo;
        border:none;
        font-size:1em;
    }
    
    .button-retry{
        width:60px;
        height:40px;
        margin-left:10px;
        border-radius:100%;
        background-color:#f8db73;
        font-family:DungGeunMo;
        border:none;
        font-size:1.1em;
    }
    .main-image{
        width:20px;
        height:20px;
        padding-top:5px;
    }
}  
@media (max-width:1014px){
    .mainarea{
        background-position:center;
        background-size:100%;
}
}